{% extends "base.html" %}
{% block content %}
{% if post.post_type == '1' %}
    <h3>ประกาศรับซื้อ [<b><u>{{ post.text_book }}</b></u>]</h3></br>
{% else %}
    <h3>ประกาศขาย [<b><u>{{ post.text_book }}</b></u>]</h3></br>
{% endif %}
<div class="container">
    <div class="row">
        <div class="col">
            <img src="{{ post.picture }}" alt="{{ post.picture }}" class="img-thumbnail rounded-lg border border-primary" style="width: 20vw; height: 30vh;">
        </div>
        <div class="col rounded-lg border border-primary" style="margin-right: 20%;">
            <br>
            <p><b>ชื่อ:</b> {{post.text_book}}</p>
            <p><b>ราคา:</b> {{post.price}} บาท</p>
            {% if post.post_type == '1' %}
            <p><b>รับซื้อโดย:</b> {{post.create_by}}</p>
            {% else %}
            <p><b>ขายโดย:</b> {{post.create_by}}</p>
            {% endif %}
            {% if post.post_type == '1' %}
            <p><b>รับซื้อเมื่อ:</b> {{post.create_date}}</p>
            {% else %}
            <p><b>ขายเมื่อ:</b> {{post.create_date}}</p>
            {% endif %}
        </div>
    </div>
    {% if post.create_by.id == user.id %}
    <div class="row">
        <div class="col">
            <br>
            <form action="{% url 'post_detail' post_id=post.id %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <button type="submit" class="btn btn-warning" name="close_btn" style="margin-left: 5%;">กดเพื่อปิดการซื้อ-ขาย</button>
                </div>
                </form>
        </div>
        <div class="col" style="margin-right: 20%; margin-top: 1%;">
            <form action="{% url 'post_detail' post_id=post.id %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" name="message" id="message" style="width: 19vw;" value="{{message}}"> 
                <button type="submit" class="btn btn-primary" name="commentbtn" style="margin-left: 2%;">เขียน Comment</button>
            </div>   
            </form>
        </div>
    </div>
    {% elif  user.is_authenticated %}
    <div class="row">
        <div class="col">
        </div>
        <div class="col" style="margin-right: 20%; margin-top: 1%;">
            <form action="{% url 'post_detail' post_id=post.id %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" name="message" id="message" style="width: 19vw;" value="{{message}}"> 
                <button type="submit" class="btn btn-primary" name="commentbtn" style="margin-left: 2%;">เขียน Comment</button>
            </div>   
            </form>
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col">
        </div>
        <div class="col" style="margin-right: 20%;">
            <h4>Comments</h4>
            {% for m_list in message_list %}
            <div class="border border-secondary rounded-lg">
                <br>
                <p>&nbsp; {{m_list.message}}</p>
                <p style="text-align: right;">โดย: {{m_list.create_by}} เมื่อ: {{m_list.create_date}}&nbsp;&nbsp;</p>
            </div><br>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}
